/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Inter", sans-serif;
}

// form validation
.error-feedback {
    font-size: 0.9rem;
    color: red;
    margin-top: 0.1rem !important;
    margin: 0.3rem !important;
}